<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title><%= title %></title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/FinlandIcon.ico">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/cards.css">
        <link rel="stylesheet" href="/css/form.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-custom navbar-expand-lg navbar-dark bg-transparent">
                <a class="navbar-brand" href="/">
                    <img src="/images/HeaderFlag.png" width="35" height="35" class="d-inline-block align-top navbar_img" alt="">
                    Easy Finland
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/language">Language</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/culture">Culture</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/useful">Useful Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="header-content">
                <h1><%= page %></h1>
                <p><%= subpage  %></p>
            </div>
        </header>
        <main>