<%- include('includes/header') %>

<div class="error_container">
    <img class="image_404" src="/images/404.png" alt="">
    <h1>Page Not Found</h1>
    <p>The page you are looking for doesn't exist or cannot be accessed</p>
</div>



<%- include("includes/footer") %>

