<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">Who we are</h1>
        <hr class="index_ruler">
        <p>This website was created by three Portuguese foreigner souls that, despite all odds, have chosen from their hearts to make Finland feel like home. Coming from different backgrounds, having faced very personal immigration journeys, and having developed unique relationships to Finland, we decided to unite in putting this project together because… why not?</p>
        <p>Find out a little more about us below and in case you have nice ideas for this project, let us know how we can make it better!</p>
    </div>

    <div class="about_container">
        <div class="cris_card">
            <div class="back">
                <div class="card_bg">
                    <img src="/images/Sunny.png" alt="">
                </div>
            </div>
            <div class="about_image">
                <img src="/images/Cris.jpg" alt="">
            </div>
            <div class="about_text">
                <h6 class="about_name">Cristiana Levinthal</h6>
                <p>I am an educational psychologist and a doctoral student at the University of Helsinki. I grew up in Brazil and lived for ten years in Portugal, where I experienced my life’s greatest challenges and growth. Living in Finland since 2019, I feel fortunate to keep building my path of self-discovery and appreciation for life as a foreigner.</p>
            </div>
        </div>
        <div class="susana_card">
            <div class="card_bg">
                <img src="/images/Forrest.jpg" alt="">
            </div>
            <div class="about_image">
                <img src="/images/Susana.jpg" alt="">
            </div>
            <div class="about_text">
                <h6 class="about_name">Susana Marques</h6>
                <p>I am a Bachelor student in Social Sciences at Laurea University. I am from Portugal and I live in Finland since 2007. I love to cook and to spend time with family and friends. I like to help people as much as possible and I hope you find in EasyFinland what you are looking for. Tervetuloa!</p>
            </div>
            <div class="back"></div>
        </div>
        <div class="david_card">
            <div class="back">
                <div class="card_bg">
                    <img src="/images/View.jpg" alt="">
                </div>
            </div>
            <div class="about_image">
                <img src="/images/David.jpg" alt="">
            </div>
            <div class="about_text">
                <h6 class="about_name">David Fonseca</h6>
                <p>I am an aircraft maintenance engineer who also has a passion for long distance running and web development. Born in Lisbon, I am living in Finland since June 2018 and can't get enough of exploring all this country has to offer!</p>
            </div>
        </div>
    </div>

    <div class="container_title">
        <h1>Suggestions</h1>
    </div>
    <hr class="title_ruler">

    <div class="contact_form">
        <div class="form_header">
            <p>We want to make this a community-based project. Do you have a nice idea, or do you know any online content about Finland that should be listed here but isn’t yet? Let us know!</p>
        </div>
        <form action="/contact" class="form-group" id="contactform" method="POST">
            <div class="form_content">
                <div class="field">
                    <label for="name">Name</label><br>
                    <input type="text" name="name" placeholder="Your Name">
                </div>
                <div class="field">
                    <label for="email">E-mail</label><br>
                    <input type="email" name="email" placeholder="Your email">
                </div>
                <div class="field">
                    <label for="suggestion">Your message</label><br>
                    <textarea name="suggestion" id="suggestion" rows="5" columns="30" placeholder="Write your suggestion here"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

<%- include("includes/footer") %>
