<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">Suggestions</h1>
        <hr class="index_ruler">
        <p>If you know about any other important resources that we haven't talked about in this website or if you just want to say hi, please feel free to contact us through the form below. We are happy to hear from you!</p>
    </div>

    <div class="about_us">
        <p>About us</p>
    </div>
    <div class="about_container">
        <div class="cris_card">
            <div class="card_bg">
                <img src="/images/Lapland.jpg" alt="">
            </div>
            <div class="about_image">
                <img src="/images/Cris.jpg" alt="">
            </div>
            <div class="about_text">
                <h6 class="about_name">Cristiana Levinthal</h6>
                <p>I am an educational psychologist and a doctoral student in the University of Helsinki. I grew up in Brazil and lived for ten years in Portugal, where I experienced my life’s greatest challenges and growth. Living in Finland since 2019, I feel fortunate to keep building my path of self-discovery and appreciation for life as a foreigner.</p>
            </div>
        </div>
        <div class="susana_card">
            <div class="card_bg">
                <img src="/images/Forrest.jpg" alt="">
            </div>
            <div class="about_image">
                <img src="/images/Susana.jpg" alt="">
            </div>
            <div class="about_text">
                <h6 class="about_name">Susana Marques</h6>
                <p>I am Susana. I am studying a Bachelor of Social Sciences in Laurea University. I am from Portugal and I live in Finland since 2007. I love to cook and to spend time with family and friends. I like to help people as much as possible and I hope you find in EasyFinland what you are looking for. Tervetuloa!</p>
            </div>
        </div>
        <div class="david_card">
            <div class="card_bg">
                <img src="/images/View.jpg" alt="">
            </div>
            <div class="about_image">
                <img src="/images/David.jpg" alt="">
            </div>
            <div class="about_text">
                <h6 class="about_name">David Fonseca</h6>
                <p>I am David. I am an aircraft maintenance engineer who also has a passion for long distance running and web development. Born in Lisbon, I am living in Finland since June 2018 and can't get enough of exploring all this country has to offer!</p>
            </div>
        </div>
    </div>

    <form action="/contact" class="form-group" id="contactform" method="POST">
        <h2>Please Tell Us</h2>
        <div class="field">
            <label for="name">Name</label><br>
            <input type="text" name="name" placeholder="Your Name">
        </div>
        <div class="field">
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="Your email">
        </div>
        <div class="field">
            <label for="suggestion">Suggestion</label><br>
            <textarea name="suggestion" id="suggestion" rows="5" columns="30" placeholder="Write your suggestion here"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<%- include("includes/footer") %>
