<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">Suggestions</h1>
        <p>If you know about any other important resources that we haven't talked about in this website or if you just want to say hi, please feel free to contact us through the form below. We are happy to hear from you!</p>
    </div>

    <div class="about_us">
        <p>About us</p>
    </div>
    <div class="about_container">
        <div class="fact_container">
            <div class="fact_image">
                <img src="/images/Boat.jpg" alt="">
            </div>
            <div class="fact_text">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt deleniti atque expedita impedit. Eum qui libero beatae reiciendis, autem consequatur quisquam error minus distinctio harum rerum aliquam praesentium! Blanditiis, in?</p>
            </div>
        </div>
    </div>

    <form action="/contact" class="form-group" id="contactform" method="POST">
        <h2>Please Tell Us</h2>
        <div class="field">
            <label for="name">Name</label><br>
            <input type="text" name="name" placeholder="Your Name">
        </div>
        <div class="field">
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="Your email">
        </div>
        <div class="field">
            <label for="suggestion">Suggestion</label><br>
            <textarea name="suggestion" id="suggestion" rows="5" columns="30" placeholder="Write your suggestion here"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<%- include("includes/footer") %>
