<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">Culture</h1>
        <hr class="main_ruler">
        <p>When first coming to Finland, some situations that seem mundane in our daily lives back at home, might get less obvious. For example, in Finland, people tend to be helpful but quite reserved – so things like chitchatting on the way to work, hugging or kissing as greetings, or talking about personal stuff can be challenging and even interpreted as intrusive by a local. We have selected some interesting sources to help you get familiar with the Finnish culture. Some of them are cracking-up funny – especially after you are living here for a while – others are as valuable as gold if you know close to nothing about Finland. One thing is for sure, there is no culture like this one – Finns are one of the most resilient, honest and peculiar high-tech tribes you will ever know.</p>
        <div class="jump_links">
            <a href="#learn_it">Learn the Culture</a>
            <a href="#social_media">Social Media</a>
        </div>
    </div>

    <div class="slideshow">
        <div class="slide_image" id="slide-1" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('images/Coffee.jpg')">
            <p>Finland has the highest coffee consumption in the world. The average Finn drinks about 12kg of coffee per year!</p>
        </div>
        <div class="slide_image" id="slide-2" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('images/Voting.jpg')">
        <p>In 1906, Finland became the first country in Europe to give women from all levels of society the right to vote and stand for parliament.</p>
        </div>
        <div class="slide_image" id="slide-3" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('images/Gender.jpg')">
        <p>Finnish is a gender neutral language, which is well shown by the third person singular pronoun <em>hän</em> (usually he or she in English) that can be used to refer a person of any gender.</p>
        </div>
        <div class="slide_image" id="slide-4" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('images/Lake.jpg')">
        <p>Finland is often called ‘the land of a thousand lakes’ but in reality it has over 188.000 of them, spread through its area of 338.440 km2.</p>
        </div>
        <div class="slide_image" id="slide-5" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('images/Flag.jpg')">
        <p>Despite its unique history, Finland is relatively young as an independent country. After being part of the Kingdom of Sweden and the Russian Empire, independence was declared in 1917.</p>
        </div>
    </div>

    <div class="container_title" id="learn_it">
        <h4>Learn the Culture</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to top</p>
            </a>
        </div>
    </div>
    <hr class="title_ruler">
    <div class="cards_container">
        <div class="card_">
            <div class="card_image">
                <img src="/images/VisitFinland.png" alt="">
            </div>
            <div class="card_title">
                <h5>VisitFinland</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The official travel guide of Finland. Ideal if you are coming as a tourist. Please come visit us, you'll love it!</p>
            </div>
            <div class="card_footer">
                <a href="https://www.visitfinland.com/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/Helsinki.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>this is FINLAND</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Great online resource with lots of information about finnish culture, news and other useful stuff! From the Ministry of Foreign Affairs of Finland.</p>
            </div>
            <div class="card_footer">
                <a href="https://finland.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/Museokortti.png" alt="">
            </div>
            <div class="card_title">
                <h5>Museokortti</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The Finnish Museum Card gives you entrance to 300 museums in the country for 1 year. It is the best cultural deal!</p>
            </div>
            <div class="card_footer">
                <a href="https://www.museot.fi/museokortti" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/Sauna.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Sauna</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Sauna is a big part of Finnish culture. There are over 2 million saunas for a population of 5.5 million in Finland.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.visitfinland.com/article/10-sauna-tips-for-beginners/#18ead9c5" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/Nuuksio.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>National Parks</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finns love nature and it is culturally part of the finnish way of living. In this website you can find information about Finland's 40 National Parks.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.nationalparks.fi/nationalparks" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/Moomin.png" alt="">
            </div>
            <div class="card_title">
                <h5>Moomin</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The fairytale created by Tove Jansson is one of the most famous Finland's postcards. Moomin books have been translated into more than 50 languages and also made into animation series.</p>
            </div>
            <div class="social_media">
                <a href="https://www.moomin.com/en/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/user/MoominOfficial" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/Moomin" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/moominofficial/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="container_title" id="social_media">
        <h4>Social Media</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to top</p>
            </a>
        </div>
    </div>
    <hr class="title_ruler">
    <div class="cards_container">
        <div class="card_">
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/sPUqJfeUGp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card_title">
                <h5>Almost Finns</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>YouTube channel about Finland created by foreigners.</p>
            </div>
            <div class="social_media">
                <a href="https://www.youtube.com/channel/UCGtVdaLjZmLpLiBGQI2Bo_g" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/almostfinns" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/almostfinns/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/EMgFFfRFo2E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card_title">
                <h5>Very Finnish Problems</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Really funny YouTube channel focusing on Finnish culture. From funny Instagram posts to entertaining videos, Joel's content has great quality.</p>
            </div>
            <div class="social_media">
                <a href="https://veryfinnishproblems.com/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCj_2uHe9boRx5hWKMC95zRg" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/veryFinnishproblems" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/veryfinnishproblems/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/FS-Fd4zXQ9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card_title">
                <h5>Aleksi Himself</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Aleksi is a Finnish content creator focused on foreigners. He makes funny videos about daily life in Finland and interacts a lot with the community. Check him out!</p>
            </div>
            <div class="social_media">
                <a href="https://www.youtube.com/channel/UCuBvl8mzPolBzPU9ju4cXsA" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/aleksihimself" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/aleksihimself/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/8kCu2GmgLf8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card_title">
                <h5>Her Finland</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Varpu is a Finnish blogger and creator. She has a really positive energy sharing the culture and language. Her website has a huge amount of resources. Also, check out her Finnish lessons! </p>
            </div>
            <div class="social_media">
                <a href="https://herfinland.com/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCb12vdIDQu8NhyIWbHtmHmg" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/herfinland" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/her_finland/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
    </div>

    <%- include("includes/footer") %>