<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">Finnish Culture</h1>
        <p>This is a small website created for helping foreigners that are looking for resources to learn the Finnish language. We have decided to create it after struggling through many websites with different content and strategies. So here you can find lists with some of the best content to help you learning this extremely difficult but beautiful language!!</p>
    </div>

    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5>this is FINLAND</h5>
            </div>
            <div class="card_image">
                <img src="/images/LakeDive.jpg" title="Photo by Tommaso Fornoni" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Great online resource with lots of information about finnish culture, news and other useful stuff! From the Ministry of Foreign Affairs of Finland </p>
            </div>
            <div class="card_footer">
                <a href="https://finland.fi/" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Museokortti</h5>
            </div>
            <div class="card_image">
                <img src="/images/Museokortti.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The Finnish Museum Card gives you entrance to 300 museums in the country for 1 year. It is the best cultural deal!</p>
            </div>
            <div class="card_footer">
                <a href="https://www.museot.fi/museokortti" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Sauna</h5>
            </div>
            <div class="card_image">
                <img src="/images/Sauna.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Sauna is a big part of Finnish culture. There are over 2 million saunas for a population of 5.5 million in Finland.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.sauna.fi/in-english/finnish-sauna-culture/" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>National Parks</h5>
            </div>
            <div class="card_image">
                <img src="/images/Nuuksio.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finns have always loved the forest and it is culturally part of the finnish way of living. In this website you can find information about Finland's 40 National Parks.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.nationalparks.fi/nationalparks" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
    </div>

    <div class="container_title">
        <h4>Social Media</h4>
    </div>
    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5>Almost Finns</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/sPUqJfeUGp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>YouTube channel about Finland created by foreigners.</p>
            </div>
            <div class="social_media">
                <a href="https://www.youtube.com/channel/UCGtVdaLjZmLpLiBGQI2Bo_g" target="_blank"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/almostfinns" target="_blank"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/almostfinns/" target="_blank"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Very Finnish Problems</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/EMgFFfRFo2E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Really funny YouTube channel focusing on finnish culture.</p>
            </div>
            <div class="social_media">
                <a href="https://veryfinnishproblems.com/" target="_blank"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCj_2uHe9boRx5hWKMC95zRg" target="_blank"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/veryFinnishproblems" target="_blank"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/veryfinnishproblems/" target="_blank"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Aleksi Himself</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/FS-Fd4zXQ9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Really funny YouTube channel focusing on finnish culture.</p>
            </div>
            <div class="social_media">
                <a href="https://www.youtube.com/channel/UCuBvl8mzPolBzPU9ju4cXsA" target="_blank"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/aleksihimself" target="_blank"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/aleksihimself/" target="_blank"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Suomi Sujuu</h5>
            </div>
            <div class="card_image">
                <img src="/images/SuomiSujuu.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p">Really funny YouTube channel focusing on finnish culture.</p>
            </div>
            <div class="social_media">
                <a href="https://www.suomisujuu.fi/" target="_blank"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCagonc6Tr-L1BvniH3OPVnQ" target="_blank"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/suomisujuu" target="_blank"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/suomisujuu/" target="_blank"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Her Finland</h5>
            </div>
            <div class="card_image">
                <img src="/images/Lapland.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Really funny YouTube channel focusing on finnish culture.</p>
            </div>
            <div class="social_media">
                <a href="https://herfinland.com/" target="_blank"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCb12vdIDQu8NhyIWbHtmHmg" target="_blank"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/herfinland" target="_blank"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/her_finland/" target="_blank"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
    </div>


    <%- include("includes/footer") %>