<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">Finnish Culture</h1>
        <p>Finland is relatively young as an independent country, but it has a unique culture, shaped by its geographic location and the Swedish and Russian occupation. Finns are some of the most resilient people you will ever know, but they are also quite reserved and have a special relationship with the surrounding nature.</p>
        <p>Finland is often referred as the country of the thousand lakes, sauna and heavy metal. If you want to know more about this beautiful country, check out some of the resources below. We have also included some social media channels that promote the country’s culture and give you wonderful tips to interact in the Finnish society.</p>
    </div>

    <div class="clickme">
        <p>Fun fact <i class="fas fa-caret-down"></i></p>
    </div>
    <div class="wrapper">
        <div class="fact_container">
            <div class="fact_image">
                <img src="/images/Coffee.jpg" alt="">
            </div>
            <div class="fact_text">
                <p>Finland has the highest coffee consumption in the world. The average Finn drinks about 12kg of coffee per year!! </p>
            </div>
        </div>
    </div>

    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5>VisitFinland</h5>
            </div>
            <div class="card_image">
                <img src="/images/VisitFinland.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The official travel guide of Finland. Ideal if you are coming as a tourist. Please come visit us, you'll love it!</p>
            </div>
            <div class="card_footer">
                <a href="https://www.visitfinland.com/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>this is FINLAND</h5>
            </div>
            <div class="card_image">
                <img src="/images/Helsinki.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Great online resource with lots of information about finnish culture, news and other useful stuff! From the Ministry of Foreign Affairs of Finland.</p>
            </div>
            <div class="card_footer">
                <a href="https://finland.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Museokortti</h5>
            </div>
            <div class="card_image">
                <img src="/images/Museokortti.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The Finnish Museum Card gives you entrance to 300 museums in the country for 1 year. It is the best cultural deal!</p>
            </div>
            <div class="card_footer">
                <a href="https://www.museot.fi/museokortti" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Sauna</h5>
            </div>
            <div class="card_image">
                <img src="/images/Sauna.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Sauna is a big part of Finnish culture. There are over 2 million saunas for a population of 5.5 million in Finland.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.visitfinland.com/article/10-sauna-tips-for-beginners/#18ead9c5" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>National Parks</h5>
            </div>
            <div class="card_image">
                <img src="/images/Nuuksio.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finns love nature and it is culturally part of the finnish way of living. In this website you can find information about Finland's 40 National Parks.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.nationalparks.fi/nationalparks" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Moomin</h5>
            </div>
            <div class="card_image">
                <img src="/images/Moomin.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The fairytale created by Tove Jansson is one of the most famous Finland's postcards. Moomin books have been translated into more than 50 languages and also made into animation series.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.moomin.com/fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
    </div>

    <div class="container_title">
        <h4>Social Media</h4>
    </div>
    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5>Almost Finns</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/sPUqJfeUGp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>YouTube channel about Finland created by foreigners.</p>
            </div>
            <div class="social_media">
                <a href="https://www.youtube.com/channel/UCGtVdaLjZmLpLiBGQI2Bo_g" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/almostfinns" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/almostfinns/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Very Finnish Problems</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/EMgFFfRFo2E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Really funny YouTube channel focusing on Finnish culture. From funny Instagram posts to entertaining videos, Joel's content has great quality.</p>
            </div>
            <div class="social_media">
                <a href="https://veryfinnishproblems.com/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCj_2uHe9boRx5hWKMC95zRg" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/veryFinnishproblems" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/veryfinnishproblems/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Aleksi Himself</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/FS-Fd4zXQ9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Aleksi is a Finnish content creator focused on foreigners. He makes funny videos about daily life in Finland and interacts a lot with the community. Check him out!</p>
            </div>
            <div class="social_media">
                <a href="https://www.youtube.com/channel/UCuBvl8mzPolBzPU9ju4cXsA" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/aleksihimself" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/aleksihimself/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Her Finland</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/8kCu2GmgLf8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Varpu is a Finnish blogger and creator. She has a really positive energy sharing the culture and language. Her website has a huge amount of resources. Also, check out her Finnish lessons! </p>
            </div>
            <div class="social_media">
                <a href="https://herfinland.com/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCb12vdIDQu8NhyIWbHtmHmg" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/herfinland" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/her_finland/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
    </div>

    <%- include("includes/footer") %>