<%- include("includes/header") %>

<div class="description">
    <h1 class="maintitle">Finland by foreigners</h1>
    <hr class="index_ruler">
    <p>A great deal of making it through the challenges posed by the Finnish language and culture lies on the ability to cultivate a growth mindset when facing hardship. When contacting with more experienced immigrants in Finland, hearing about successful and happy stories seem quite rare and might bring us down regarding our own paths. With time, you will notice that what separates frustrating and accomplishing narratives is not that one group have more difficulties or opportunities than the other, but how willing they are to make mistakes, welcome challenging situations, learning from them and being proud of every small overcoming.</p>
    <p>Check out below some inspiring stories and projects of foreigners in Finland who are proud to be who they are and believe in putting their strengths out there for the common good. If you are a foreigner in Finland remember that you are part of a society that values and needs you!</p>
    <div class="jump_links">
        <a href="#learn_it">Learn the Culture</a>
        <a href="#social_media">Social Media</a>
    </div>
</div>

<%- include("includes/footer") %>