<%- include("includes/header") %>

<div class="description">
    <h1 class="maintitle">Finland by foreigners</h1>
    <hr class="main_ruler">
    <p>A great deal of making it through the challenges posed by the Finnish language and culture lies on the ability to cultivate a growth mindset when facing hardship. When contacting with more experienced immigrants in Finland, hearing about successful and happy stories seem quite rare and might bring us down regarding our own paths. With time, you will notice that what separates frustrating and accomplishing narratives is not that one group have more difficulties or opportunities than the other, but how willing they are to make mistakes, welcome challenging situations, learning from them and being proud of every small overcoming.</p>
    <p>Check out below some inspiring stories and projects of foreigners in Finland who are proud to be who they are and believe in putting their strengths out there for the common good. If you are a foreigner in Finland remember that you are part of a society that values and needs you!</p>
</div>

<div class="container_title" id="learn_it">
    <h4>By Foreigners</h4>
    <div class="go_top">
        <a href="#page_head">
            <i class="fas fa-angle-up"></i>
            <p>Go to top</p>
        </a>
    </div>
</div>
<hr class="title_ruler">
<div class="cards_container">
    <div class="card_">
        <div class="card_image">
            <img src="/images/WomenWheel.jpg" alt="">
        </div>
        <div class="card_title">
            <h5>Women Wheel</h5>
        </div>
        <hr class="ruler">
        <div class="card_text">
            <p>Women Wheel is a community online that explores women topics. Issues like sexuality, gender, violence and feminism are frequently addressed. Created by Shirlene Newball, a Nicaraguan woman living in Finland.</p>
        </div>
        <div class="social_media">
            <a href="https://womenwheel.com/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
            <a href="https://www.facebook.com/womenwheel/" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
        </div>
    </div>
    <div class="card_">
        <div class="card_image">
            <img src="/images/MoniHeli.jpg" alt="">
        </div>
        <div class="card_title">
            <h5>Moniheli</h5>
        </div>
        <hr class="ruler">
        <div class="card_text">
            <p>Moniheli is an institution that promotes the development of a multicultural Finnish society. The main mission is to operate a network of multicultural organizations nationwide.</p>
        </div>
        <div class="card_footer">
            <a href="https://www.moniheli.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
        </div>
    </div>
    <div class="card_">
        <div class="card_image">
            <img src="/images/IWWOF.jpg" alt="">
        </div>
        <div class="card_title">
            <h5>IWWOF</h5>
        </div>
        <hr class="ruler">
        <div class="card_text">
            <p>A community of women living in Finland, aimed to empower and help the development of its members. It has a strong network of more than 4000 members that help each other growing, professionally and personally.</p>
        </div>
        <div class="social_media">
            <a href="https://iwwof.com/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
            <a href="https://www.facebook.com/groups/348015526109949/" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
            <a href="https://www.instagram.com/iwwof_/?fbclid=IwAR0hJdAQWP8p8mfFqI_-5Ab7zi19LyZaqzHMqDBRKf8PjySXwnp-QHGvams" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
        </div>
    </div>
    <div class="card_">
        <div class="card_image">
            <img src="/images/SocialMirror.jpg" alt="">
        </div>
        <div class="card_title">
            <h5>The Social Mirror</h5>
        </div>
        <hr class="ruler">
        <div class="card_text">
            <p>Dana is woman born in Israel from a Finnish mother and an Israeli father. In this website she tells us stories about multicultural families living in Finland and its challenges.</p>
        </div>
        <div class="card_footer">
            <a href="https://thesocialmirror.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
        </div>
    </div>
</div>

<%- include("includes/footer") %>