<%- include("includes/header") %>

    <div id="index_description">
        <div class="overlay">
            <div class="description_content">
                <h1 class="maintitle">Welcome!</h1>
                <p>This is a small website created for foreigners coming to Finland, either to work or study, or even just for tourism. The country got a lot of attention in the last few years, partly because of the United Nations “Happiness Report”, that has put Finland in the spotlight.</p>
                <p>After searching for information through so many websites with different content and strategies we decided to create this repository to join all the options together in one place. So here you can find lists with some of the best content to help you getting into the culture and learning this extremely difficult but beautiful language.</p>
            </div>
        </div>
    </div>

    <div class="intro_container">
        <div class="intro_image">
            <img src="/images/Boat.jpg" alt="">
        </div>
        <div class="intro_text">
            <p>
                <blockquote>
                    My favorite country is Finland because once you get to a certain point, you can drive for hours without seeing a single person. I love peace and quiet - something I don't get very often.
                </blockquote>
                <span>
                    &mdash; Cristopher Lee
                </span>
            </p>
        </div>
    </div>

    <div class="menu_container">
        <div class="menu_card">
            <div class="menu_card_image">
                <div class="image_overlay"></div>
                <img src="/images/Learning.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Language</h5>
                <p class="menu_card_text">Finnish is undoubtedly one of the most difficult languages in the World. No matter what country you come from, it will probably take a few years just to get into the basics. Here is a list of resources that can help you throughout the journey.</p>
                <a  href="/language" class="menu_card_button">More</a>
            </div>
        </div>
        <div class="menu_card">
            <div class="menu_card_image">
                <div class="image_overlay"></div>
                <img src="/images/FinlandCottage.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Culture</h5>
                <p class="menu_card_text">Finland is a country with a unique culture. Check out these links if you want to know more about it.</p>
                <a  href="/culture" class="menu_card_button">More</a>
            </div>
        </div>
        <div class="menu_card">
            <div class="menu_card_image">
                <div class="image_overlay"></div>
                <img src="/images/TramHel.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Useful Links</h5>
                <p class="menu_card_text">Lists of useful links for public services and other finnish institutions as well as news channels and practical tips for moving to and living in Finland.</p>
                <a href="/useful" class="menu_card_button">More</a>
            </div>
        </div>
        <div class="menu_card">
            <div class="menu_card_image">
                <div class="image_overlay"></div>
                <img src="/images/Letter.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Contact Us</h5>
                <p class="menu_card_text">Please tell us if you have any suggestions or ideas of other resources we can add here.</p>
                <a href="/contact" class="menu_card_button">More</a>
            </div>
        </div>
    </div>

<%- include("includes/footer") %>

