<%- include("includes/header") %>

    <div id="index_description">
        <div class="overlay">
            <div class="description_content">
                <h1 class="maintitle">Welcome!!!</h1>
                <p>This is a small website created to help foreigners looking for resources to learn the Finnish language. After searching through many websites with different content and strategies we decided that it would be good to join all the options together in one place. So here you can find lists with some of the best content to help you learning this extremely difficult but beautiful language!!</p>
            </div>
        </div>
    </div>

    <div class="menu_container">
        <div class="menu_card">
            <div class="menu_card_image">
                <img src="/images/Study.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Language</h5>
                <p class="menu_card_text">Finnish is undoubtedly one of the most difficult languages in the World. No matter what country you come from, it will probably take a few years just to get into the basics. Here is a list of websites and mobile apps that can help you through the journey. </p>
                <button class="menu_card_button"><a  href="/language">More</a></button>
            </div>
        </div>
        <div class="menu_card">
            <div class="menu_card_image">
                <img src="/images/Helsinki.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Culture</h5>
                <p class="menu_card_text">So you can know more about the beautiful finnish culture.</p>
                <button class="menu_card_button"><a  href="/culture">More</a></button>
            </div>
        </div>
        <!-- <div class="menu_card">
            <div class="menu_card_image">
                <img src="/images/Social.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Social Media</h5>
                <p class="menu_card_text">Something will come here, eventually.</p>
                <button class="menu_card_button"><a href="#">More</a></button>
            </div>
        </div> -->
        <div class="menu_card">
            <div class="menu_card_image">
                <img src="/images/TramHel.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Useful Links</h5>
                <p class="menu_card_text">Links for public services and other finnish institutions.</p>
                <button class="menu_card_button"><a href="/useful">More</a></button>
            </div>
        </div>
        <!-- <div class="menu_card">
            <div class="menu_card_image">
                <img src="/images/Youtube.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">YouTube</h5>
                <p class="menu_card_text">YouTube channels for helping you to know more about finnish language and culture (and humour also..😜).</p>
                <button class="menu_card_button"><a href="/youtube">More</a></button>
            </div>
        </div> -->
        <div class="menu_card">
            <div class="menu_card_image">
                <img src="/images/Letter.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Contact Us</h5>
                <p class="menu_card_text">Please tell us if you have any suggestions or ideas of other resources we can add here.</p>
                <button class="menu_card_button"><a href="/contact">More</a></button>
            </div>
        </div>
    </div>

<%- include("includes/footer") %>

