<%- include("includes/header") %>

    <div class="description">
        <div class="description_content">
            <h1 class="maintitle">Welcome!</h1>
            <hr class="main_ruler">
            <p>This website is aimed at all foreigners interested in learning about Finnish language and culture.</p>
            <p>A growing interest in Finland has motivated various content creators to produce valuable information for foreigners. Because we value such dedicated work, and also truly believe in the power of diversity brought by foreigners to this unique country, we decided to create a page where all such awesome content could be displayed in an organized manner, to facilitate everyone's access to relevant learning options.</p>
            <p>We understand that getting into Finnish language and culture can be hard and often frustrating, with a lot of barriers to overcome. We want to make this part of the process easy for you. If we succeed, this website will serve just like the menu you open at your favorite restaurant. Please get comfortable, look through it and pick your dish for today!</p>
        </div>
    </div>

    <!-- <div class="intro_container">
        <div class="intro_image">
            <img src="/images/Boat.jpg" alt="">
        </div>
        <div class="intro_text">
            <p>
                <blockquote>
                    My favorite country is Finland because once you get to a certain point, you can drive for hours without seeing a single person. I love peace and quiet - something I don't get very often.
                </blockquote>
                <span>
                    &mdash; Cristopher Lee
                </span>
            </p>
        </div>
    </div> -->

    <div class="menu_container">
        <div class="menu_card" id="language_card" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('images/Learning.jpg');">
            <div class="menu_card_content">
                <h4 class="menu_card_title">Language</h4>
                <p class="menu_card_text">Here you can find lists of various resources that are meant to assist you in navigating through the Finnish language.</p>
                <a href="/language">Learn More</a>
            </div>
            <div class="menu_overlay"></div>
        </div>
        <div class="menu_card" id="culture_card" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('images/Cottage.jpg');">
            <div class="menu_card_content">
                <h4 class="menu_card_title">Culture</h4>
                <p class="menu_card_text">From native Finns to foreigners’ perspectives, from more serious to cracking-up fun topics, in this section you can check out Finnish culture content from various original and creative sources.</p>
                <a href="/culture">Learn More</a>
            </div>
            <div class="menu_overlay"></div>
        </div>
        <div class="menu_card" id="useful_card" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('images/Tram.jpg');">
            <div class="menu_card_content">
                <h4 class="menu_card_title">Useful Info</h4>
                <p class="menu_card_text">The following links are a collective of (mostly) official sources. Those are a must in case you are considering moving to Finland. Here you can also find out what is happening in Finland right now.</p>
                <a href="/useful">Learn More</a>
            </div>
            <div class="menu_overlay"></div>
        </div>
        <div class="menu_card" id="contact_card" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('images/Foreigners.jpg');">
            <div class="menu_card_content">
                <h4 class="menu_card_title">By Foreigners</h4>
                <p class="menu_card_text">Finland is home for immigrants with the most diverse backgrounds. In this section we proudly display what some of these inspiring and entrepreneurial minds have been up to. </p>
                <a href="/foreigners">Learn More</a>
            </div>
            <div class="menu_overlay"></div>
        </div>
    </div>

<%- include("includes/footer") %>

