<%- include("includes/header") %>

    <div class="description">
        <div class="description_content">
            <h1 class="maintitle">Welcome!</h1>
            <hr class="index_ruler">
            <p>This website is aimed at all foreigners interested in learning about Finnish language and culture.</p>
            <p>A growing interest in Finland has motivated various content creators to produce valuable information for foreigners – in the form of videos, blog lessons or even social media posts. Because we value such dedicated work, and also truly believe in the power of diversity brought by foreigners to this unique country, we decided to create a page where all such awesome content could be displayed in an organized fashion, to facilitate foreigners’ access to relevant learning options.</p>
            <p>We understand that getting into Finnish language and culture can be hard and sometimes frustrating, with a lot of barriers to overcome. We want to make this part of the process easy for you. If we succeed, this website will serve just like the menu you open at your favorite restaurant. Please be at home, look through it and pick your dish for today!</p>
        </div>
    </div>

    <!-- <div class="intro_container">
        <div class="intro_image">
            <img src="/images/Boat.jpg" alt="">
        </div>
        <div class="intro_text">
            <p>
                <blockquote>
                    My favorite country is Finland because once you get to a certain point, you can drive for hours without seeing a single person. I love peace and quiet - something I don't get very often.
                </blockquote>
                <span>
                    &mdash; Cristopher Lee
                </span>
            </p>
        </div>
    </div> -->

    <div class="menu_container">
        <div class="menu_card" id="language_card" style="background-image: url('images/Learning.jpg');">
            <div class="menu_card_content">
                <h5 class="menu_card_title">Language</h5>
                <p class="menu_card_text">Finnish is undoubtedly one of the most difficult languages in the World. No matter what country you come from, it will probably take a few years just to get into the basics. Here is a list of resources that can help you throughout the journey.</p>
                <button class="menu_button"><a href="/language">Learn More</a></button>
            </div>
            <div class="menu_overlay"></div>
        </div>
        <div class="menu_card" id="culture_card" style="background-image: url('images/Cottage.jpg');">
            <div class="menu_card_content">
                <h5 class="menu_card_title">Culture</h5>
                <p class="menu_card_text">Finland is a country with a unique culture. Check out these links if you want to know more about it.</p>    
                <button class="menu_button"><a href="/culture">Learn More</a></button>
            </div>
            <div class="menu_overlay"></div>
        </div>
        <div class="menu_card" id="useful_card" style="background-image: url('images/Tram.jpg');">
            <div class="menu_card_content">
                <h5 class="menu_card_title">Useful Links</h5>
                <p class="menu_card_text">Lists of useful links for public services and other finnish institutions as well as news channels and practical tips for moving to and living in Finland.</p>    
                <button class="menu_button"><a href="/useful">Learn More</a></button>
            </div>
            <div class="menu_overlay"></div>
        </div>
        <div class="menu_card" id="contact_card" style="background-image: url('images/Letter.jpg');">
            <div class="menu_card_content">
                <h5 class="menu_card_title">Contact Us</h5>
                <p class="menu_card_text">Please tell us if you have any suggestions or ideas of other resources we can add here.</p>    
                <button class="menu_button"><a href="/contact">Learn More</a></button>
            </div>
            <div class="menu_overlay"></div>
        </div>
    </div>

    <!-- <div class="menu_container">
        <div class="menu_card">
            <div class="menu_card_image">
                <div class="image_overlay"></div>
                <img src="/images/Learning.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Language</h5>
                <p class="menu_card_text">Finnish is undoubtedly one of the most difficult languages in the World. No matter what country you come from, it will probably take a few years just to get into the basics. Here is a list of resources that can help you throughout the journey.</p>
                <a  href="/language" class="menu_card_button">More</a>
            </div>
        </div>
        <div class="menu_card">
            <div class="menu_card_image">
                <div class="image_overlay"></div>
                <img src="/images/FinlandCottage.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Culture</h5>
                <p class="menu_card_text">Finland is a country with a unique culture. Check out these links if you want to know more about it.</p>
                <a  href="/culture" class="menu_card_button">More</a>
            </div>
        </div>
        <div class="menu_card">
            <div class="menu_card_image">
                <div class="image_overlay"></div>
                <img src="/images/TramHel.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Useful Links</h5>
                <p class="menu_card_text">Lists of useful links for public services and other finnish institutions as well as news channels and practical tips for moving to and living in Finland.</p>
                <a href="/useful" class="menu_card_button">More</a>
            </div>
        </div>
        <div class="menu_card">
            <div class="menu_card_image">
                <div class="image_overlay"></div>
                <img src="/images/Letter.jpg" alt="">
            </div>
            <div class="menu_card_content">
                <h5 class="menu_card_title">Contact Us</h5>
                <p class="menu_card_text">Please tell us if you have any suggestions or ideas of other resources we can add here.</p>
                <a href="/contact" class="menu_card_button">More</a>
            </div>
        </div>
    </div> -->

<%- include("includes/footer") %>

