<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">The Language</h1>
        <p>As foreigners trying to learn the Finnish language we know how it looks like an impossible task. Hopefully this list of websites and mobile apps can help you throughout the journey! </p>
        <div class="jump_links">
            <li><a href="#websites">Websites</a></li>
            <li><a href="#apps">Mobile Apps</a></li>
            <li><a href="#youtube">Youtube Channels</a></li>
            <li><a href="#courses">Language Courses</a></li>
        </div>
    </div>

    <div class="clickme">
        <p>Fun Fact <i class="fas fa-caret-down"></i></p>
    </div>
    <div class="wrapper">
        <div class="fact_container">
            <div class="fact_image">
                <img src="/images/GenderNeutral.jpg" alt="">
            </div>
            <div class="fact_text">
                <p>Finnish is a gender neutral language, which is well shown by the third person singular pronoun <em>hän</em> (usually he or she in English) that can be used to refer a person of any gender.</p>
            </div>
        </div>
    </div>

    <div class="container_title" id="websites">
        <h4>Websites</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to Top</p>
            </a>
        </div>
    </div>
    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5>Learn Finnish by MoniNet</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/Moninet.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>A contact with the Finnish language provided by MoniNet, a multicultural center aimed at helping immigrants in the city of Rovaniemi.</p>
            </div>
            <div class="card_footer">
                <a href="https://moninet.rovala.fi/learn-finnish/" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Taste of Finnish</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/Taste of Finnish.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>A small language course created for students coming to study in the University of Helsinki.</p>
            </div>
            <div class="card_footer">
                <a href="http://tasteoffinnish.fi/" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Kieli.net</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/KieliNET.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Useful Finnish language dictionary created by students. Wonderful resource.</p>
            </div>
            <div class="card_footer">
                <a href="http://kieli.net/" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Wiktionary</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/Wiktionary.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>From Wikimedia group, another great dictionary for helping with the essential stuff.</p>
            </div>
            <div class="card_footer">
                <a href="https://fi.wiktionary.org/wiki/Wikisanakirja:Etusivu" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Uusi Kielemme</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/Uusikielemme.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Good resources for learning Finnish, contains vocabulary, grammar and gets updated regularly.</p>
            </div>
            <div class="social_media">
                <a href="https://uusikielemme.fi/" target="_blank"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.facebook.com/uusikielemme" target="_blank"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/uusikielemme/" target="_blank"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Suomi Sujuu</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/SwQx5Fic_B4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p">Suomi Sujuu is a community that organizes meetings for Finnish language learning. They have meetings for both beginner and advanced levels.</p>
            </div>
            <div class="social_media">
                <a href="https://www.suomisujuu.fi/" target="_blank"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.facebook.com/suomisujuu" target="_blank"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/suomisujuu/" target="_blank"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="container_title" id="apps">
        <h4>Mobile Apps</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to Top</p>
            </a>
        </div>
    </div>
    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5>Duolingo</h5>
            </div>
            <div class="card_image">
                <img id="duolingo_image" src="/images/Duolingo.svg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Duolingo, the world´s most popular language learning app also includes Finnish!!</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.duolingo&gl=FI" target="_blank" class="app_link"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/duolingo-language-lessons/id570060128?l=fi" target="_blank" class="app_link"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Drops (Not Free)</h5>
            </div>
            <div class="card_image">
                <img id="drops_image" src="/images/Drops.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>This app focused on vocabulary has an entertaining and user-friendly interface. There is also a free version.</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.languagedrops.drops.international&gl=FI" target="_blank" class="app_link"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/drops-kielenopetus/id939540371?l=fi" target="_blank" class="app_link"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Fun Easy Learn</h5>
            </div>
            <div class="card_image">
                <img id="funeasylearn_image" src="/images/FunEasyLearn.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Game-based language learning app. It contains beautiful hand-drawn illustrations.</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.funeasylearn.languages&gl=FI" target="_blank"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/opi-kieli%C3%A4-funeasylearn/id1385009629?l=fi" target="_blank"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>WordDive (Not Free)</h5>
            </div>
            <div class="card_image">
                <img id="worddive_image" src="/images/WordDive.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Great app developed in Finland by dozens of language learning experts that focuses on goals.</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.worddive.mobile&gl=FI" target="_blank""><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/worddive-opi-uusi-kieli/id811129591?l=fi" target="_blank"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Moving Languages</h5>
            </div>
            <div class="card_image">
                <img id="movinglanguages_image" src="/images/MovingLanguages.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>With a special focus on immigrants, this app is supported by the European Commission. It give you useful real-life language skills.</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.ml.finnish" target="_blank"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/gb/app/finnish-with-moving-languages/id1392975118?l=fi" target="_blank"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>LinGo Play (Not Free)</h5>
            </div>
            <div class="card_image">
                <img id="lingo_image" src="/images/Lingo Finnish.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text" id="lingo_text">
                <p>Uses flashcards and online games as an effective way of language learning.</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.lingo.play.finnish&gl=FI" target="_blank"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/opi-kieli%C3%A4-lingo-play/id969976197?l=fi" target="_blank"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="container_title" id="youtube">
        <h4>YouTube Channels</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to Top</p>
            </a>
        </div>
    </div>
    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5 class="card-title">Kielinuppu</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/lZRjsmVeIBo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p class="card-text">Finnish songs for kids that may be useful also for adults trying to get into the language.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.youtube.com/channel/UCioNvXnSYCVr8IHrIRdSMcw" target="_blank" class="btn btn-primary">Go To Channel!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5 class="card-title">Finnished</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/rqUc_M_TBeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p class="card-text">This channel is teaching the language in a unique method, using subtitles both in Finnish and English.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.youtube.com/channel/UCPdUhp3L-Rxp_wigblquLtA" target="_blank" class="btn btn-primary">Go To Channel!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5 class="card-title">Gimara Oy</h5>
            </div>
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/uYpF9SpzICI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p class="card-text">Language school with good demonstrative videos by native and certified Finnish language teachers.</p>
            </div>
            <div class="social_media">
                <a href="https://gimara.fi/" target="_blank"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCxxMIAErgTJfwHs_ea-hFFQ" target="_blank"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/teamgimara" target="_blank"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/gimarateam/" target="_blank"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="container_title" id="courses">
        <h4>Language Courses</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to Top</p>
            </a>
        </div>
    </div>
    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5>Finnish Courses.fi</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/FinnishCourses.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finnish language courses for all levels in the area of Southern Finland. Online courses also available.</p>
            </div>
            <div class="card_footer">
                <a href="https://finnishcourses.fi/" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Ilmonet</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/Ilmonet.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>In Ilmonet you can enroll in all kinds of courses for adults in the Helsinki area. The language courses are quite popular and fairly priced.</p>
            </div>
            <div class="card_footer">
                <a href="https://ilmonet.fi/" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
    </div>

    <%- include("includes/footer") %>