<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">Language</h1>
        <hr class="main_ruler">
        <p>If you haven’t been speaking Finnish since you were a kid, chances are you will struggle to wrap your head around this beautiful but difficult language. Your learning path will most certainly have lots of ups and downs and more stages than you initially thought. Luckily, there are a growing number of experienced people in Finnish language willing to pave the way for us. Structured courses are necessary for a number of reasons, but no foreigner ever succeeded in speaking Finnish when spending their entire time learning grammar rules. Here you can find various resources designed to get you out there and start speaking!</p>
        <div class="jump_links">
            <a href="#websites">Websites</a>
            <a href="#social">Social Media</a>
            <a href="#apps">Apps</a>
            <a href="#podcasts">Podcasts</a>
            <a href="#courses">Courses</a>
        </div>
    </div>

    <div class="container_title" id="websites">
        <h4>Websites</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to top</p>
            </a>
        </div>
    </div>
    <hr class="title_ruler">
    <div class="cards_container">
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/HerFinland.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Her Finland</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Varpu is an outstanding content creator who has been sharing with us her native knowledge about Finland since 2017. She is active in various social media channels, but here we linked her three language courses. She even has one especially tailored for kids!</p>
            </div>
            <div class="social_media">
                <a href="https://herfinland.teachable.com/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCb12vdIDQu8NhyIWbHtmHmg" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/herfinland" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/her_finland/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <!-- <iframe src="https://www.youtube.com/embed/FS-Fd4zXQ9Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <img class="picture" src="/images/AleksiHimself.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Aleksi Himself</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Aleksi is probably the number one Finnish content creator for immigrants! He first joined YouTube while sharing his own experience as a foreigner living in Japan. Ever since 2017, he has been guiding foreigners interested in Finland in a variety of matters. Here we linked his Finnish language courses.</p>
            </div>
            <div class="social_media">
                <a href="https://linktr.ee/aleksihimself" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCuBvl8mzPolBzPU9ju4cXsA" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/aleksihimself" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/aleksihimself/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/UusiKielemme.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Uusi Kielemme</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>This website was created by Inge, a non-native Finnish speaker, in 2007. Very organized and complete, it covers every corner of Finnish grammar & vocabulary, in English.</p>
            </div>
            <div class="social_media">
                <a href="https://uusikielemme.fi/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.facebook.com/uusikielemme" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/uusikielemme/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/FinnishTeacher.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>The Finnish Teacher</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The Finnish Teacher was created by a British citizen living in Finland since 2012, who mastered the language in the first nine months of studies.</p>
            </div>
            <div class="card_footer">
                <a href="https://thefinnishteacher.weebly.com/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/Random_Finnish_Lesson.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Random Finnish Lesson</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Hanna Männikkölahti is a native Finnish teacher, who also writes books in easy Finnish (selkosuomi). Check out her great random tips.</p>
            </div>
            <div class="card_footer">
                <a href="http://randomfinnishlesson.blogspot.com/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/Taste_Of_Finnish.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>A Taste of Finnish</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>An introductory course for future or current higher education students in Finland, with ten chapters, developed by the University of Helsinki.</p>
            </div>
            <div class="card_footer">
                <a href="http://tasteoffinnish.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/Moninet.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Learn Finnish by MoniNet</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Learn Finnish is a seven-chapter course, developed by MoniNet, a Finnish multicultural center that aims at promoting communication between immigrants and Finns.</p>
            </div>
            <div class="card_footer">
                <a href="https://moninet.rovala.fi/learn-finnish/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/Language_Cafes.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Language cafés</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>If you are in Finland and already know some Finnish, joining language cafés are one of the best ways to improve your conversational skills. Those normally take place in libraries. Check out the calendars. </p>
            </div>
            <div class="card_footer">
                <a href="https://www.helmet.fi/en-US/Events_and_tips/News_flash/Finnish_language_cafes_and_discussion_gr(46480)" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <!-- <iframe src="https://www.youtube.com/embed/SwQx5Fic_B4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <img class="picture" src="/images/SuomiSujuu.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Suomi Sujuu</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p">Suomi Sujuu, founded by  Zaki Azedani, aims to gather a community of beginners to advanced Finnish speakers, promoting regular conversational meetings.</p>
            </div>
            <div class="social_media">
                <a href="https://www.suomisujuu.fi/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.facebook.com/suomisujuu" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/suomisujuu/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/KieliNet.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Kieli.net</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Kieli.net is a useful tool, developed by foreigner students, for word analysis and learning of conjugations in all verb types, persons, and times. Very convenient when learning a language with so many suffixes!</p>
            </div>
            <div class="card_footer">
                <a href="http://kieli.net/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
    </div>

    <div class="container_title" id="social">
        <h4>Social Media</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to top</p>
            </a>
        </div>
    </div>
    <hr class="title_ruler">
    <div class="cards_container">
        <div class="card_">
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/lZRjsmVeIBo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card_title">
                <h5 class="card-title">Kielinuppu</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p class="card-text">Finnish songs for kids that may be useful also for adults trying to get into the language.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.youtube.com/channel/UCioNvXnSYCVr8IHrIRdSMcw" target="_blank" rel="noopener" class="btn btn-primary">Go To Channel!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/rqUc_M_TBeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card_title">
                <h5 class="card-title">Finnished</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p class="card-text">This channel is teaching the language in a unique method, using subtitles both in Finnish and English.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.youtube.com/channel/UCPdUhp3L-Rxp_wigblquLtA" target="_blank" rel="noopener" class="btn btn-primary">Go To Channel!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <iframe src="https://www.youtube.com/embed/uYpF9SpzICI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="card_title">
                <h5 class="card-title">Gimara Oy</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p class="card-text">Language school with good demonstrative videos by native and certified Finnish language teachers.</p>
            </div>
            <div class="social_media">
                <a href="https://gimara.fi/" target="_blank" rel="noopener"><img src="/images/WWW.png" alt=""></a>
                <a href="https://www.youtube.com/channel/UCxxMIAErgTJfwHs_ea-hFFQ" target="_blank" rel="noopener"><img src="/images/YoutubeLogo.png" alt=""></a>
                <a href="https://www.facebook.com/teamgimara" target="_blank" rel="noopener"><img src="/images/FacebookLogo.png" alt=""></a>
                <a href="https://www.instagram.com/gimarateam/" target="_blank" rel="noopener"><img src="/images/InstagramLogo.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="container_title" id="apps">
        <h4>Apps</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to top</p>
            </a>
        </div>
    </div>
    <hr class="title_ruler">
    <div class="cards_container">
        <div class="card_">
            <div class="card_image">
                <div class="free_banner">
                    <p class="tag_name">Free</p>
                </div>
                <img class="picture" src="/images/Duolingo.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Duolingo</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Duolingo, the world´s most popular language learning app also includes Finnish!!</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.duolingo&gl=FI" target="_blank" rel="noopener" class="app_link"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/duolingo-language-lessons/id570060128?l=fi" target="_blank" rel="noopener" class="app_link"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <div class="paid_banner">
                    <p class="tag_name">Paid</p>
                </div>
                <img class="picture" src="/images/Drops.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Drops</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>This app focused on vocabulary has an entertaining and user-friendly interface. There is also a free version.</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.languagedrops.drops.international&gl=FI" target="_blank" rel="noopener" class="app_link"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/drops-kielenopetus/id939540371?l=fi" target="_blank" rel="noopener" class="app_link"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <div class="free_banner">
                    <p class="tag_name">Free</p>
                </div>
                <img class="picture" src="/images/FunEasyLearn.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Fun Easy Learn</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Game-based language learning app. It contains beautiful hand-drawn illustrations.</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.funeasylearn.languages&gl=FI" target="_blank" rel="noopener"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/opi-kieli%C3%A4-funeasylearn/id1385009629?l=fi" target="_blank" rel="noopener"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <div class="paid_banner">
                    <p class="tag_name">Paid</p>
                </div>
                <img class="picture" src="/images/WordDive.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>WordDive</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Great app developed in Finland by dozens of language learning experts that focuses on goals.</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.worddive.mobile&gl=FI" target="_blank" rel="noopener"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/worddive-opi-uusi-kieli/id811129591?l=fi" target="_blank" rel="noopener"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <div class="free_banner">
                    <p class="tag_name">Free</p>
                </div>
                <img class="picture" src="/images/MovingLanguages.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Moving Languages</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>With a special focus on immigrants, this app is supported by the European Commission. It give you useful real-life language skills.</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.ml.finnish" target="_blank" rel="noopener"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/gb/app/finnish-with-moving-languages/id1392975118?l=fi" target="_blank" rel="noopener"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <div class="paid_banner">
                    <p class="tag_name">Paid</p>
                </div>
                <img class="picture" src="/images/Lingo Finnish.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>LinGo Play</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Uses flashcards and online games as an effective way of language learning.</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.lingo.play.finnish&gl=FI" target="_blank" rel="noopener"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/opi-kieli%C3%A4-lingo-play/id969976197?l=fi" target="_blank" rel="noopener"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <div class="paid_banner">
                    <p class="tag_name">Paid</p>
                </div>
                <img class="picture" src="/images/Memrise.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Memrise</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Insert text here</p>
            </div>
            <div class="app_footer">
                <a href="https://play.google.com/store/apps/details?id=com.memrise.android.memrisecompanion&hl=fi" target="_blank" rel="noopener"><img src="/images/Google Play.png" alt=""></a>
                <a href="itms-apps://apps.apple.com/fi/app/memrise-learn-languages-fast/id635966718?l=fi" target="_blank" rel="noopener"><img src="/images/App Store.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="container_title" id="podcasts">
        <h4>Podcasts</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to top</p>
            </a>
        </div>
    </div>
    <hr class="title_ruler">
    <div class="cards_container">
        <div class="card_">
            <div class="card_image">
                <div class="free_banner">
                    <p class="tag_name">Free</p>
                </div>
                <img class="picture" src="/images/Mic.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Complete Language Lessons</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Ten episode podcast for beginners.</p>
            </div>
            <div class="card_footer">
                <a href="spotify:album:2dVzNfYn3pg0JnIzrP6YkI" target="_blank" rel="noopener" class="btn btn-primary"><i class="fas fa-podcast"></i></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <div class="free_banner">
                    <p class="tag_name">Free</p>
                </div>
                <img class="picture" src="/images/Mic.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Finnish with Armin</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finnish language podcast for intermediate level learners. It has seven episodes.</p>
            </div>
            <div class="card_footer">
                <a href="spotify:show:6kUzDQpgP335K8qVnQt5iU" target="_blank" rel="noopener" class="btn btn-primary"><i class="fas fa-podcast"></i></a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <div class="free_banner">
                    <p class="tag_name">Free</p>
                </div>
                <img class="picture" src="/images/Mic.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Random Finnish Lesson</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Podcast with interesting topics and interviews aimed for intermediate level students.</p>
            </div>
            <div class="card_footer">
                <a href="https://soundcloud.com/randomfinnishlesson" target="_blank" rel="noopener" class="btn btn-primary"><i class="fas fa-podcast"></i></a>
            </div>
        </div>
    </div>

    <div class="container_title" id="courses">
        <h4>Language Courses</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to top</p>
            </a>
        </div>
    </div>
    <hr class="title_ruler">
    <div class="cards_container">
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/FinnishCourses.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Finnish Courses.fi</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finnish language courses for all levels in the area of Southern Finland. Online courses also available.</p>
            </div>
            <div class="card_footer">
                <a href="https://finnishcourses.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/Ilmonet.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Ilmonet</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>In Ilmonet you can enroll in all kinds of courses for adults in the Helsinki area. The language courses are quite popular and fairly priced.</p>
            </div>
            <div class="card_footer">
                <a href="https://ilmonet.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/UniHelsinki.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>University of Helsinki</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The University of Helsinki offers good Finnish language courses for everyone through the Open University.</p>
            </div>
            <div class="card_footer">
                <a href="https://courses.helsinki.fi/fi/avoin-yliopisto/opinnot/suomi-vieraana-kielen%C3%A4" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
    </div>

    <%- include("includes/footer") %>