<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">Useful Info</h1>
        <hr class="index_ruler">
        <p>One thing is to be curious about a country. One whole other talk is when you are actually moving or planning to move there. That is why we collected some important and even mandatory sources, most of them official ones, for you to be well informed about the entire process. You will notice that Finnish services are quite well organized and following the process as supposed is always the best and easiest way to do it.</p>
        <p>The immigration path can be quite different weather you are a Nordic, a European Union or a third country citizen. We recommend that you filter the information that is right and useful to your specific situation. Finnish services are normally quick in replying questions, so you can contact them via e-mail in case you wish to clarify something about your immigration process.</p>
        <p>In the bottom of this page you can also find the main sources of Finnish news in English language.</p>
        <div class="jump_links">
            <a href="#moving">Moving and Living</a>
            <a href="#news">News Channels</a>
        </div>
    </div>

    <div class="container_title" id="moving">
        <h4>Moving and Living</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to top</p>
            </a>
        </div>
    </div>
    <hr class="title_ruler">
    <div class="cards_container">
        <div class="card_">
            <div class="card_image">
                <img src="/images/ExpatFinland.png" alt="">
            </div>
            <div class="card_title">
                <h5>Expat-Finland</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Excellent website for expats in Finland. Has all the useful information for those who are thinking about moving or already living in the country.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.expat-finland.com/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/InfoFinland.png" alt="">
            </div>
            <div class="card_title">
                <h5>infoFinland</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Published by the City of Helsinki, another great website full of resources to help you with moving and living in Finland.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.infofinland.fi/en/frontpage" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/Moving.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>movingtofinland.fi</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>In this website designed for refugees you can find all the basic information for moving to and living in Finland.</p>
            </div>
            <div class="card_footer">
                <a href="http://www.movingtofinland.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/Kela.png" alt="">
            </div>
            <div class="card_title">
                <h5>Kela</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Kela is the finnish social security institution. It provides basic economic security for everyone living in the country.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.kela.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/Vero.png" alt="">
            </div>
            <div class="card_title">
                <h5>Vero</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The finnish tax office. Don't forget to take care of your tax matters while living and working in Finland.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.vero.fi/henkiloasiakkaat/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/Migri.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Migri</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finnish immigration services. If you are coming to live in Finland this is the first place you need to go.</p>
            </div>
            <div class="card_footer">
                <a href="https://migri.fi/etusivu" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/TE.png" alt="">
            </div>
            <div class="card_title">
                <h5>TE-palvelut</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finnish employment office. If you are unemployed you need to register here as a jobseeker.</p>
            </div>
            <div class="card_footer">
                <a href="http://www.te-palvelut.fi/te/en/index.html" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/PoliisiLogo.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Poliisi</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>In Finland you can apply for an ID card with the police. And also remember to respect the law if you don't want any trouble with them!</p>
            </div>
            <div class="card_footer">
                <a href="https://www.poliisi.fi/en" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
    </div>

    <div class="container_title" id="news">
        <h4>News Channels</h4>
        <div class="go_top">
            <a href="#page_head">
                <i class="fas fa-angle-up"></i>
                <p>Go to top</p>
            </a>
        </div>
    </div>
    <hr class="title_ruler">
    <div class="cards_container">
        <div class="card_">
            <div class="card_image">
                <img src="/images/Foreigner.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>FOREIGNER.fi</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finland news in English for expats and tourists.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.foreigner.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/Yle.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Yle News</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Yle is the Finnish national broadcaster and also gives you the possibility of reading news in English.</p>
            </div>
            <div class="card_footer">
                <a href="https://yle.fi/uutiset/osasto/news/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img src="/images/HelsinkiTimes.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>Helsinki Times</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Another good resource for news about Finland in English. Established in 2007 as a printed publication, nowadays is an online only newspaper.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.helsinkitimes.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_image">
                <img class="picture" src="/images/Mic.jpg" alt="">
            </div>
            <div class="card_title">
                <h5>All Points North</h5>
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Produced by Yle News, All Points North is a weekly podcast with news about Finland.</p>
            </div>
            <div class="card_footer">
                <a href="https://open.spotify.com/show/11M4NJ3cfmNCo0qYiIXXU1?si=3STsgynaTr6Ai1Cm9WTWrw" target="_blank" rel="noopener" class="btn btn-primary"><i class="fas fa-podcast"></i></a>
            </div>
        </div>
    </div>

    <%- include("includes/footer") %>