<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">Useful Links</h1>
        <p>Here you can find some useful links for official, governmental institutions in Finland and also other sources of information like moving information and news sources that will make your life easier in the country.</p>
    </div>

    <div class="clickme">
        <p>Good to know <i class="fas fa-caret-down"></i></p>
    </div>
    <div class="wrapper">
        <div class="fact_container">
            <div class="fact_image">
                <img src="/images/Voting.jpg" alt="">
            </div>
            <div class="fact_text">
                <p>In 1906, Finland became the first country in Europe to give women from all levels of society the right to vote and stand for parliament.</p>
            </div>
        </div>
    </div>


    <div class="container_title">
        <h4>Moving and Living</h4>
    </div>
    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5>Expat-Finland</h5>
            </div>
            <div class="card_image">
                <img src="/images/ExpatFinland.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Excellent website for expats in Finland. Has all the useful information for those who are thinking about moving or already living in the country.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.expat-finland.com/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>infoFinland</h5>
            </div>
            <div class="card_image">
                <img src="/images/InfoFinland.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Published by the City of Helsinki, another great website full of resources to help you with moving and living in Finland.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.infofinland.fi/en/frontpage" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>movingtofinland.fi</h5>
            </div>
            <div class="card_image">
                <img src="/images/Finnair.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>In this website designed for refugees you can find all the basic information for moving to and living in Finland.</p>
            </div>
            <div class="card_footer">
                <a href="http://www.movingtofinland.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Kela</h5>
            </div>
            <div class="card_image">
                <img src="/images/Kela.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Kela is the finnish social security institution. It provides basic economic security for everyone living in the country.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.kela.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Vero</h5>
            </div>
            <div class="card_image">
                <img src="/images/Vero.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The finnish tax office. Don't forget to take care of your tax matters while living and working in Finland.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.vero.fi/henkiloasiakkaat/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Migri</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/Migri.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finnish immigration services. If you are coming to live in Finland this is the first place you need to go.</p>
            </div>
            <div class="card_footer">
                <a href="https://migri.fi/etusivu" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>TE-palvelut</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/TE.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finnish employment office. If you are unemployed you need to register here as a jobseeker.</p>
            </div>
            <div class="card_footer">
                <a href="http://www.te-palvelut.fi/te/en/index.html" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Poliisi</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/PoliisiLogo.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>In Finland you can apply for an ID card with the police. And also remember to respect the law if you don't want any trouble with them!</p>
            </div>
            <div class="card_footer">
                <a href="https://www.poliisi.fi/en" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
    </div>

    <div class="container_title">
        <h4>News Channels</h4>
    </div>
    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5>FOREIGNER.fi</h5>
            </div>
            <div class="card_image">
                <img src="/images/Foreigner.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finland news in English for expats and tourists.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.foreigner.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Yle News</h5>
            </div>
            <div class="card_image">
                <img src="/images/Yle.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Yle is the Finnish national broadcaster and also gives you the possibility of reading news in English.</p>
            </div>
            <div class="card_footer">
                <a href="https://yle.fi/uutiset/osasto/news/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Helsinki Times</h5>
            </div>
            <div class="card_image">
                <img src="/images/HelsinkiTimes.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Another good resource for news about Finland in English. Established in 2007 as a printed publication, nowadays is an online only newspaper.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.helsinkitimes.fi/" target="_blank" rel="noopener" class="btn btn-primary">GO!</a>
            </div>
        </div>
    </div>

    <%- include("includes/footer") %>