<%- include("includes/header") %>

    <div class="description">
        <h1 class="maintitle">Useful Links</h1>
        <p>Here you can find some useful links for official and governmental institutions in Finland.</p>
    </div>

    <div class="cards_container">
        <div class="card_">
            <div class="card_title">
                <h5>Kela</h5>
            </div>
            <div class="card_image">
                <img src="/images/Kela.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Kela is the finnish social security institution.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.kela.fi/" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Vero</h5>
            </div>
            <div class="card_image">
                <img src="/images/Vero.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>The finnish tax office.</p>
            </div>
            <div class="card_footer">
                <a href="https://www.vero.fi/henkiloasiakkaat/" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>Migri</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/Migri.jpg" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finnish immigration services.</p>
            </div>
            <div class="card_footer">
                <a href="https://migri.fi/etusivu" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
        <div class="card_">
            <div class="card_title">
                <h5>TE-palvelut</h5>
            </div>
            <div class="card_image">
                <img class="picture" src="/images/TE.png" alt="">
            </div>
            <hr class="ruler">
            <div class="card_text">
                <p>Finnish Job Office. Where you register when you are a jobseeker</p>
            </div>
            <div class="card_footer">
                <a href="http://www.te-palvelut.fi/te/en/index.html" target="_blank" class="btn btn-primary">GO!</a>
            </div>
        </div>
    </div>

    <%- include("includes/footer") %>