@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 350px;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    border-bottom: 10px solid #007bff;
    background-image: linear-gradient(rgba(13, 13, 14, .7), rgba(76, 100, 121, 0.3)), url(/images/FinlandStars.jpg);
}

.navbar-custom {
    z-index: 9999;
    height: fit-content;
    margin-bottom: 0;
}

.navbar.navbar-custom {
    position: absolute;
    width: 100%;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}

.navbar_img {
    border-radius: 50%;
}

.navbar-collapse {
    text-align: center;
    font-size: 1.1rem;
}

.header-content {
    padding-top: 4rem;
    padding-bottom: 10rem;
    margin-top: 3.4375rem;
    margin: auto;
    width: fit-content;
    color: white;
    margin-top: 70px;
    text-align: center;
}

.header-content h1 {
    font-size: 2.5rem;
    text-shadow: 1px .5px black;
}

.header-content p {
    font-size: .9rem;
}

main {
    min-height: calc(100vh - 110px - 72px);
    z-index: 1000;
    padding-top: 400px;
}

.maintitle {
    font-size: 2rem;
}

.page-footer {
    color: white;
    background-image: linear-gradient(to bottom right, #007bff, #3d6896);
    width: 100%;
    padding: 0;
}

.footer-copyright p {
    font-size: 13px;
}

#index_description {
    border: none;
    background-image: url(/images/FinnFlagBG.jpg);
    background-size: cover;
    font-size: .9rem;
    letter-spacing: 0.2px;
    word-spacing: 1.5px;
    color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgb(141, 128, 128);
    width: 75%;
    margin: 1rem auto 8rem auto;
}

.overlay {
    padding: 2rem;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 8px;
}

.description {
    padding: 1rem;
    font-size: .9rem;
    letter-spacing: 0.2px;
    word-spacing: 1.5px;
    color: white;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, #007bff, #3d6896);
    box-shadow: 5px 5px 10px rgb(141, 128, 128);
    width: 75%;
    margin:  1rem auto 5rem auto ;
}

.description .jump_links {
    list-style: none;
    width: 50%;
    text-align: center;
    margin: auto;
}

.description  li {
    text-align: center;
    list-style: none;
    margin: .8rem auto;
    transition: all 0.5s;
    width: fit-content;
}

.description li a {
    color: white;
    transition: all 0.7s;
    border-radius: 8px;
    padding: .1rem;
}

.description li a:hover {
    text-decoration: none;
}

.description li:hover a {
    background: white;
    color: #007bff;
}

.container_title {
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgb(141, 128, 128);
    background-image: linear-gradient(to bottom right, #007bff, #3d6896);
    color: white;
    width: 75%;
    margin: 4rem auto auto auto;
    padding: 0.1rem 1rem;
    border-radius: 8px;
}

.container_title h4 {
    margin: .1rem;
    padding: .2rem;
}

.go_top {
    text-align: center;
}

.go_top a {
    line-height: 0.1rem;
    font-size: .5rem;
    color: white;
}

.go_top a:hover {
    text-decoration: none;
    color: white;
}

.error_container {
    margin: auto;
    padding-bottom: 4rem;
    text-align: center;
}

.image_404 {
    height: 8rem;
}

.message_form {
    margin: 10rem auto;
    text-align: center;
}

/*FUN FACTS*/

.clickme {
    width: 50%;
    background-image: linear-gradient(to bottom right, #007bff, #3d6896);
    margin: 100px auto 100px auto;
    text-align: center;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    top: 0;
    box-shadow: 5px 5px 10px rgb(141, 128, 128);
}

.clickme p {
    font-size: 1.1rem;
}

.clickme p i {
    margin-left: 0.5rem;
    transition: all 0.7s;
}

.rotated {
    transform: rotateX(180deg);
}

.wrapper {
    display: none;
    width: 75%;
    margin: 0 auto 100px auto;
    overflow: hidden;
}

.fact_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 75%;
    margin: 0 auto;
}

.fact_image {
    width: 15rem;
    height: 15rem;
}

.fact_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    border: 5px solid #007bff;
}

.fact_text {
    padding: 2.5rem 2.2rem;
    text-align: center;
}

.fact_text p {
    font-size: 1rem;
    font-weight: 500;
}

.intro_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 65%;
    margin: 70px auto;
}

.intro_image {
    width: 15rem;
    height: 15rem;
}

.intro_image img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background-size: cover;
    border: 5px solid #007bff;
}

.intro_text {
    height: 15rem;
    padding: 1.5rem 1.5rem;
    text-align: center;
}

.intro_text p {
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 750px) {
    .fact_container {
        grid-template-columns: 1fr;
        margin: 50px auto;
    }

    .fact_image {
        margin: auto;
    }
    .intro_container {
        grid-template-columns: 1fr;
        margin: 50px auto;
    }

    .intro_image {
        margin: auto;
    }

    .header-content p {
        padding: .5rem;
    }
}

@media screen and (max-width: 850px) {
    .description li:hover a {
        transform: scale(1.2);
        color: white;
        background-color: inherit;
    }
}